<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 text-danger fw-bold">Contacts
                <a routerLink="/contacts/add" class="btn btn-danger btn-sm"><i class="fa fa-plus-circle"></i> Add</a>
            </p>
            <p class="fst-italic"></p>
                <!--<LOADING SPINNER>-->
                <div *ngIf="loading">
                    <app-spinner></app-spinner>
                </div>
                <!--<.LOADING SPINNER>-->

                <!--<ERROR MESSAGE>-->
                <div *ngIf="!loading && errorMessage">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <p class="h4 text-danger fw-bold">{{ errorMessage }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<.ERROR MESSAGE>-->
                    
                <div class="row">
                    <div *ngIf="!loading && isNotEmpty()" class="col-md-6">

                        <div class="row">
                            <div class="col">
                                {{ naturalPerson.Rfrnc_Ncnlty }}
                            </div>
                            <div class="col">
                                {{ naturalPerson.Rfrnc_Cntry }}
                            </div>
                            <div class="col">
                                {{ naturalPerson.IdntfctnDcmnt }}
                            </div>
                            <div class="col">                                
                                {{ naturalPerson.Nms }}
                            </div>
                            <div class="col">
                                {{ naturalPerson.Srnms }}
                            </div>
                            <div class="col">
                                {{ naturalPerson.RfrntlPhnNmbr }}
                            </div>
                            <div class="col">
                                <textarea name="taxAddress" id="taxAddress" class="form-control" rows="3">{{ naturalPerson.TxAddrss }}</textarea>
                            </div>
                        </div>

                    </div>
                </div>

        </div>
    </div>
</div>