<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 text-danger fw-bold">Contacts
                <a routerLink="/contacts/add" class="btn btn-danger btn-sm"><i class="fa fa-plus-circle"></i> Add</a>
            </p>
            <p class="fst-italic"></p>

            <!--<LOADING SPINNER>-->
            <div *ngIf="loading">
                <app-spinner></app-spinner>
            </div>
            <!--<.LOADING SPINNER>-->

            <!--<ERROR MESSAGE>-->
            <div *ngIf="!loading && errorMessage">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p class="h4 text-danger fw-bold">{{ errorMessage }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--<.ERROR MESSAGE>-->

            <form (submit)="update()">

                <div class="row">
                    <div class="col-md-6">

                        <div class="row">
                            <div class="col">
                                <select [(ngModel)]="personNatural.Rfrnc_Ncnlty" name="Rfrnc_Ncnlty" id="Rfrnc_Ncnlty" class="form-select" aria-label="Default select example"  [value]="personNatural.Rfrnc_Ncnlty">
                                    <option selected>Selected</option>
                                    <option value="58">Venezuela</option>
                                </select>
                            </div>
                            <div class="col">
                                <select [(ngModel)]="personNatural.Rfrnc_Cntry" name="Rfrnc_Cntry" id="Rfrnc_Cntry" class="form-select" aria-label="Default select example"  [value]="personNatural.Rfrnc_Cntry">
                                    <option selected>Selected</option>
                                    <option value="1030">Caracas</option>
                                </select>
                            </div>
                            <div class="col">                                
                                <input type="text" [(ngModel)]="personNatural.IdntfctnDcmnt" name="IdntfctnDcmnt" id="IdntfctnDcmnt" class="form-control" [value]="personNatural.IdntfctnDcmnt" />
                            </div>
                            <div class="col">                                
                                <input type="text" [(ngModel)]="personNatural.Nms" name="Nms" id="Nms" class="form-control" [value]="personNatural.Nms" />
                            </div>
                            <div class="col">
                                <input type="text" [(ngModel)]="personNatural.Srnms" name="Srnms" id="Srnms" class="form-control" [value]="personNatural.Srnms" />
                            </div>
                            <div class="col">
                                <input type="text" [(ngModel)]="personNatural.RfrntlPhnNmbr" name="RfrntlPhnNmbr" id="RfrntlPhnNmbr" class="form-control" [value]="personNatural.RfrntlPhnNmbr" />
                            </div>
                            <div class="col">
                                <textarea [(ngModel)]="personNatural.TxAddrss" name="TxAddrss" id="TxAddrss" class="form-control" rows="3">{{ personNatural.TxAddrss }}</textarea>
                            </div>

                            <div class="mb-2">
                                <input type="submit" class="btn btn-danger" value="Update" />
                                <a routerLink="/" class="btn btn-dark ms-2">Close</a>
                            </div>
                        </div>

                    </div>
                </div>

            </form>

        </div>
    </div>
</div>