<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 text-danger fw-bold">Contacts
                <a routerLink="/contacts/add" class="btn btn-danger btn-sm"><i class="fa fa-plus-circle"></i> Add</a>
            </p>
            <p class="fst-italic"></p>

            <form>

                <div class="row">
                    <div class="col-md-6">

                        <div class="row">                            
                            <div class="col">                                
                                <input type="text" name="search" id="search" class="form-control" />
                            </div>
                            <div class="col">
                                <input type="submit" name="button-search" id="button-search" class="btn btn-outline-dark" value="Search" />
                            </div>
                        </div>

                    </div>
                </div>

            </form>

        </div>
    </div>
</div>

<!--<LIST CARDS>-->
<div class="container mt-3">
    <div class="row">

        <!--<CARD: USER PROFILE>-->
        <div class="user-card">
            <div class="user-card-img">
                <img src="https://images.pexels.com/photos/1417712/pexels-photo-1317712.jpeg?auto=compress&cs=tinysrgb&h=750&dpr=1" alt="" />
            </div>
            <div class="user-card-info">
                <h2>Brayan Esteves</h2>
                <p>Nacionality: <span></span></p>
                <p>Country: <span></span></p>
                <p>Referential Phone Number: <span></span></p>
                <p>Tax Address: <span></span></p>
            </div>
        </div>
        <!--<.CARD: USER PROFILE>-->

    </div>
</div>
<!--<.LIST CARDS>-->