<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 text-danger fw-bold">Contacts
                <a routerLink="/contacts/add" class="btn btn-danger btn-sm"><i class="fa fa-plus-circle"></i> Add</a>
            </p>
            <p class="fst-italic"></p>

            <form>

                <div class="row">
                    <div class="col-md-6">

                        <div class="row">                            
                            <div class="col">                                
                                <input type="text" name="search" id="search" class="form-control" />
                            </div>
                            <div class="col">
                                <input type="submit" name="button-search" id="button-search" class="btn btn-outline-dark" value="Search" />
                            </div>
                        </div>

                    </div>
                </div>

            </form>

        </div>
    </div>
</div>

<!--<LOADING SPINNER>-->
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>
<!--<.LOADING SPINNER>-->

<!--<ERROR MESSAGE>-->
<div *ngIf="!loading && errorMessage">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h4 text-danger fw-bold">{{ errorMessage }}</p>
            </div>
        </div>
    </div>
</div>
<!--<.ERROR MESSAGE>-->

<!--<LIST CARDS>-->
<div *ngIf="!loading && naturalPersons.length > 0" class="container mt-3">
    <div class="row">

        <!--<CARD: USER PROFILE>-->
        <div *ngFor="let naturalPerson of naturalPersons" class="user-card">
            <div class="user-card-img">
                <img [src]="" [alt]=naturalPerson.Nms />
            </div>
            <div class="user-card-info">
                <h2>{{naturalPerson.Nms}}. {{naturalPerson.Srnms}}</h2>
                <p>Nacionality: <span>{{naturalPerson.Rfrnc_Ncnlty}}</span></p>
                <p>Country: <span>{{naturalPerson.Rfrnc_Cntry}}</span></p>
                <p>Identification Document: <span>{{naturalPerson.IdntfctnDcmnt}}</span></p>
                <p>Referential Phone Number: <span>{{naturalPerson.RfrntlPhnNmbr}}</span></p>
                <p>Tax Address: <span>{{naturalPerson.TxAddrss}}</span></p>
            </div>

            <div class="">
                <a routerLink="/contacts/view/{{naturalPerson.Rfrnc}}" class="btn btn-warning my-1"><i class="fa faeye"></i></a>
                <a routerLink="/contacts/edit/{{naturalPerson.Rfrnc}}" class="btn btn-primary my-1"><i class="fa fa-pen"></i></a>
                <button (click)="delete(naturalPerson.Rfrnc)" class="btn btn-danger my-1"><i class="fa fa-trash-alt"></i></button>
            </div>
        </div>
        <!--<.CARD: USER PROFILE>-->

    </div>
</div>
<!--<.LIST CARDS>-->